* {
    padding: 0;
    margin: 0;
}

canvas {
    background:  rgb(37, 37, 37) ;
    display: block;
    margin: 0 auto;
    margin-top: 30vh;
}

/* Alerta Game over */

.swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 32em;
    max-width: 100%;
    padding: 1.25em;
    border: none;
    border-radius: 5px;
    background: none !important;
    font-family: inherit;
    font-size: 1rem;
}


.swal2-actions {
    display: none !important;
}